<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>View category</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>View category: <span th:text="${category.name}"></span></h1>-->
<!--<a href="/categories">Categories list</a>-->
<!--<table border="1">-->
<!--    <tr>-->
<!--        <th>Name</th>-->
<!--        <th>Description</th>-->
<!--    </tr>-->
<!--    <th:block th:each="category : ${customers}">-->
<!--        <tr>-->
<!--            <td th:text="${customer.firstName}"></td>-->
<!--            <td th:text="${customer.lastName}"></td>-->
<!--        </tr>-->
<!--    </th:block>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->