<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create phone</title>
</head>
<body>
<h1>Create phone</h1>
<p>
    <a href="/phone">phone list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-phone}" th:object="${phone}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Date of purchase:</td>
            <td><input type="text" th:field="*{dateOfPurchase}"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="p : ${categories}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create phone"></td>
        </tr>
    </table>
</form>
</body>
</html>