<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<h1>Edit book</h1>
<p>
    <a href="/phone">Phone list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-phone}" th:object="${phone}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Date of purchase:</td>
            <td><input type="text" th:field="*{dateOfPurchase}"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select name="category">
                    <option th:each="p:${categories}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            th:selected="(${p.id}==*{category.id})">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update book"></td>
        </tr>
    </table>
</form>
</body>
</html>