<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${param.lang}"></p>
<form onchange="this.submit()">
    <select name="lang">
        <option value="">....</option>
        <option value="vi" >Viet Nam</option>
        <option value="en" >English</option>
    </select>
</form>
<br/>
<p><a href="/categories"><button type="button" th:text="#{Categorieslist}"></button></a></p>
<a href="/create-phone" th:text="#{Createnewphone}"></a>
<h1 th:text="#{Phone}"></h1>
<form>
    <a th:text="#{Searchbyfirstname}"></a>
    <input name="s" type="text"/>
    <input type="submit" value="Search" />
</form>
<p><a th:href="@{/sortByPriceAsc}" ><button type="button" th:text="#{SortByPriceAsc}"></button></a></p>
<p><a th:href="@{/sortByPriceDesc}"><button type="button" th:text="#{SortByPriceDesc}"></button></a></p>
<form action="/searchByCategory" onchange="this.submit()">
    <a th:text="#{SearchByCategory}"></a>
    <select name="search">
        <option th:each="d:${categories}" th:text="${d.name}" th:value="${d.getId()}"></option>
    </select>
</form>
<br/>
<table border="1">
    <tr>
        <th th:text="#{Name}"></th>
        <th th:text="#{DateOfPurchase}"></th>
        <th th:text="#{Description}"></th>
        <th th:text="#{Price}"></th>
        <th th:text="#{Categories}"></th>
        <th th:text="#{Edit}"></th>
        <th th:text="#{Delete}"></th>
    </tr>
    <th:block th:each="phone : ${phones}">
        <tr>
            <td th:text="${phone.name}"></td>
            <td th:text="${phone.dateOfPurchase}">
            <td th:text="${phone.description}">
            <td th:text="${phone.price}">
            <td th:text="${phone.getCategory().getName()}"></td>
        </tr>
        <td><a th:href="@{/edit-phone/__${phone.id}__ }" th:text="#{Edit}" ></a></td>
        <td><a th:href="@{/delete-book/__${phone.id}__ }" th:text="#{Delete}"></a></td>
        </tr>
    </th:block>
    <div>
        <a th:href="@{'/phone'(page=${phones.number - 1})}" th:if="${phones.hasPrevious()}" th:text="#{Previous}"></a>
        <span th:text="${phones.number + 1}"></span>/<span th:text="${phones.totalPages}"></span>
        <a th:href="@{'/phone'(page=${phones.number + 1})}" th:if="${phones.hasNext()}" th:text="#{Next}"></a>
    </div>
</table>
</body>
</html>